<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<div id="container">

    <nav>
        <div class="left-container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hotel/create">Add +</a></li>
            </ul>
        </div>
        <div class="right-container">
            {{#if user}}
           
            <a href="/auth/profile" class="log-out">{{user.username}}</a>
            <a href="/auth/logout" class="log-out">Logout</a>
            {{else}}
            <a href="/auth/register" class="log-out">Register</a>
            <a href="/auth/login" class="log-out">Login</a>
            {{/if}}


        </div>
    </nav>
    </div>
    {{#if error}}
        <div class="notification errorBox">
            <span>{{error}}</span>
        </div>
        {{/if}}
<body>

{{{body}}}

</body>


  